<div class="row mb-4">
  <div class="col-sm-12">
    <div class="wrapImg">
      <img class="img-fluid"
           [src]="recipe.imagePath"
           [alt]="recipe.name">
    </div>


    <h2>{{ recipe.name }}</h2>

    <div class="btn-group">

      <button class="btn btn-primary dropdown-toggle"
              type="button">
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">To shopping list</a>
        </li>
        <li>
          <a href="#">Edit recipe</a>
        </li>
        <li>
          <a href="#">Delete recipe</a>
        </li>
      </ul>
    </div>

    <p>{{ recipe.description }}</p>

    <p>Ingredients</p>
  </div>
</div>
