<div class="row mb-4">
  <div class="col-sm-12">
    <div class="wrapImg">
      <img class="img-fluid"
           [src]="(recipeState | async).recipes[id].imagePath"
           [alt]="(recipeState | async).recipes[id].name">
    </div>


    <h2>{{ (recipeState | async).recipes[id].name }}</h2>

    <div class="btn-group"
         appDropdown
    >
      <button class="btn btn-primary dropdown-toggle"
              type="button">
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="onAddToShoppingList()">Add to shopping list</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="onEditRecipe()">Edit recipe</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="onDeleteRecipe()">Delete recipe</a>
        </li>
      </ul>
    </div>

    <p>{{ (recipeState | async).recipes[id].description }}</p>

    <ul class="list-group">
      <li
      class="list-group-item"
      *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>

  </div>
</div>
