<!--<input type="text"-->
<!--(input)="onUpdateServerName($event)">-->

<input class="form-control"
       type="text"
       [(ngModel)]="newServerName">
<input class="form-control"
       type="text"
       [(ngModel)]="newServerContent">
<!--{{ serverName }}-->

<button class="btn btn-primary"
(click)="onAddServer()">
  Add server
</button>
<!--<p>{{ allowNewServer }}</p>-->
<!--<p>-->
  <!--{{ serverCreationStatus }}-->
<!--</p>-->

<p *ngIf="serverCreated">
  Server was created, server name is {{ serverName }}
</p>

<!--<p *ngIf="!serverCreated; else noServer ">No server-element was created</p>-->
<!--<ng-template #noServer>-->
  <!--<p>-->
    <!--No server-element was created-->
  <!--</p>-->
<!--</ng-template>-->
