<h2>Second feature</h2>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="list-group">
      <a
         class="list-group-item"
         [routerLink]="['/servers', server.id]"
         [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
         [fragment]="loading"
         *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <router-outlet></router-outlet>
    <!--<button class="btn btn-primary" (click)="onReload()">Reload Page</button>-->
    <!--<app-edit-server></app-edit-server>-->
    <!--<hr>-->
    <!--<app-server></app-server>-->
  </div>
</div>

<h2>First feature</h2>
<hr>
<!--<input type="text"-->
<!--(input)="onUpdateServerName($event)">-->
<input class="form-control"
       type="text"
       [(ngModel)]="newServerName">
<input class="form-control"
       type="text"
       [(ngModel)]="newServerContent">
<!--{{ serverName }}-->
<button class="btn btn-primary"
(click)="onAddServer()">
  Add server
</button>
<!--<p>{{ allowNewServer }}</p>-->
<!--<p>-->
  <!--{{ serverCreationStatus }}-->
<!--</p>-->
<p *ngIf="serverCreated">
  Server was created, server name is {{ serverName }}
</p>
<!--<p *ngIf="!serverCreated; else noServer ">No server-element was created</p>-->
<!--<ng-template #noServer>-->
  <!--<p>-->
    <!--No server-element was created-->
  <!--</p>-->
<!--</ng-template>-->
