<app-header></app-header>
<div class="container">
    <div class="row mb-4">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>

    <app-forms></app-forms>

    <!--<div class="row">-->
        <!--<div class="col-sm-12 col-md-8 col-md-offset-1">-->
            <!--<form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
                <!--<div id="user-data" ngModelGroup="userData"-->
                <!--#userData="ngModelGroup">-->
                    <!--<div class="form-group">-->
                        <!--<label for="username">Username</label>-->
                        <!--<input-->
                            <!--id="username"-->
                            <!--class="form-control" type="text"-->
                            <!--ngModel-->
                            <!--name="username"-->
                        <!--required>-->
                    <!--</div>-->
                    <!--<button class="btn btn-primary"-->
                            <!--type="button"-->
                            <!--(click)="suggestUserName()">Suggest an Username</button>-->
                    <!--<div class="form-group">-->
                        <!--<label for="email">Mail</label>-->
                        <!--<input-->
                            <!--id="email"-->
                            <!--class="form-control" type="text"-->
                            <!--ngModel-->
                            <!--name="email"-->
                            <!--required-->
                            <!--email-->
                            <!--#email="ngModel">-->
                        <!--<span *ngIf="!userData.valid && userData.touched">Please enter a valid email</span>-->
                    <!--</div>-->
                    <!--<p *ngIf="!email.valid && email.touched">Enter valid value</p>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="secret">Secret</label>-->
                    <!--<select id="secret" class="form-control"-->
                            <!--[ngModel]="defaultQuestion"-->
                            <!--name="secret">-->
                        <!--<option value="pet">Your first Pet?</option>-->
                        <!--<option value="teacher">Your first teacher?</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<textarea name="questionAnswer"-->
                              <!--rows="3"-->
                              <!--class="form-control"-->
                              <!--[(ngModel)]="answer"></textarea>-->
                <!--</div>-->
                <!--<p>Your reply: {{ answer }}</p>-->
                <!--<div class="radio" *ngFor="let gender of genders">-->
                    <!--<label>-->
                        <!--<input type="radio"-->
                               <!--name="gender"-->
                               <!--ngModel-->
                               <!--[value]="gender">-->
                        <!--{{ gender }}-->
                    <!--</label>-->
                <!--</div>-->
                <!--<button class="btn btn-primary" type="submit"-->
                        <!--[disabled]="!f.valid">Submit</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row" *ngIf="submitted">-->
        <!--<div class="col-sm-12">-->
            <!--<h3>Your Data</h3>-->
            <!--<p>Username: {{ user.username }}</p>-->
            <!--<p>Email: {{ user.email }}</p>-->
            <!--<p>Secret Question: {{ user.secretQuestion }}</p>-->
            <!--<p>Answer: {{ user.answer }}</p>-->
            <!--<p>Gender: {{ user.gender }}</p>-->
        <!--</div>-->
    <!--</div>-->
</div>
